<div id="tasks">
  @if(selectedUserName(); as selectedusername) {
    <tasks-header [selectedUserName]="selectedusername"/>
    @if (userTasks().length > 0) {
        <ul>
          @for (task of userTasks(); track task.id) {
            <li>
              <task-item 
                [task]="task"
              />
            </li>
          }
        </ul>
      } @else {
        <p id="fallback">No tasks found for this user</p>
      }
  } @else {
    <p id="fallback">Click on a user to see their tasks</p>
  }
</div>
